body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    line-height: 1.4em;
    color: #000;
    letter-spacing: 0.02em;
    font-size: 17px;
}

*{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: 500;
}

img{
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100% !important;
}

a{
    color: #000;
    text-decoration: none;
    transition: .5s;
    font-weight: 400;
}

a:hover{
    transition: .5s;
}

p{
    margin: 0;
}

button, input, textarea{
    outline: none;
    border: none;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: transparent;
    font-weight: 400;
}

input::placeholder, textarea::placeholder{
    font-family: 'Raleway', sans-serif;
}

button{
    transition: .5s;
}

button:hover{
    transition: .5s;
}

.container, .woocommerce-notices-wrapper{
    width: 1160px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-padding{
    padding-top: 130px;
}

.to-shop-btn {
    color: #fff;
    font-size: 17px;
    background: #6E9C9F;
    border: 1px solid transparent;
    padding: 0 50px;
    display: flex;
    height: 67px;
    align-items: center;
    width: max-content;
}

.to-shop-btn:hover{
    background: #509498;
}

.to-shop-btn_white{
    background: #fff;
    border-color: #6E9C9F;
    color: #6E9C9F;
}

.to-shop-btn_white:hover{
    color: #fff;
}

.h3 {
    font-weight: 500;
    font-size: 25px;
}

/*Header*/
.header-wrapper{
    background: linear-gradient(270deg, #F1EADC 0%, #F1EADC 44.12%, rgba(241, 234, 220, 0) 44.13%);
    overflow: hidden;
}

.header {
    padding-top: 51px;
    transition: .5s;
}

.header_sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 5;
    padding: 34px 0;
    transition: .5s;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 5%);
}

.header-panel{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 139px;
    display: block;
}

.nav {
    display: flex;
}

.nav__link {
    font-size: 15px;
    font-weight: 400;
}

.nav__link:not(:last-of-type) {
    margin-right: 45px;
}

.nav__link_active{
    font-weight: 700;
    color: rgba(110, 156, 159, 1);
}

.nav__link:hover {
    color: rgba(110, 156, 159, 1);
}

.phone{
    font-size: 15px;
}

.phone_icon{
    display: flex;
    align-items: center;
    margin-right: 9px;
    font-weight: 400;
}

.phone_icon::before {
    content: "";
    background: url('../img/icons/phone.svg') no-repeat center center/cover;
    width: 27px;
    height: 27px;
    margin-right: 9px;
    transition: .2s;
}

.phone_icon:hover::before {
    content: "";
    background: url('../img/icons/phone-hover.svg') no-repeat center center/cover;
    width: 27px;
    height: 27px;
    margin-right: 9px;
    transition: .2s;
}

.mini-cart {
    position: relative;
    width: 24px;
    height: 24px;
    margin-left: 67px;
}

.mini-cart__quantity {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #998E78;
    color: #fff;
    font-size: 9px;
    line-height: 1em;
    top: -50%;
    right: -50%;
    font-weight: 400;
}

.mini-cart__quantity_hidden{
    display: none;
}

.header-right{
    display: flex;
    align-items: center;
}

/*Hero slider*/
.hero {
    padding: 41px 0 60px;
}

.hero-offer {
    position: relative;
}

.slider-offer {
    max-width: 585px;
    overflow: hidden;
}

.h1 {
    font-weight: 500;
    font-size: 55px;
    line-height: 1.1em;
}

.p-offer {
    width: 385px;
    text-align: right;
    font-size: 20px;
    line-height: 1.4em;
    font-weight: 400;
    margin-top: 45px;
}

.hero-offer__btns {
    display: flex;
    padding-left: 90px;
    margin-top: 52px;
}

.hero-offer-scroll {
    background: rgba(110, 156, 159, 0.1);
    width: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-offer-scroll::before{
    content: "";
    background: url('../img/icons/arrow-down.svg') no-repeat center center/contain;
    width: 14px;
    height: 28px;
}

.hero-offer-wrapper{
    display: flex;
    align-items: center;
    position: relative;
}

.hero-slider-nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
}

.hero-slider-nav__btn {
    width: 30px;
    height: 4px;
    background: #D1D1D1;
}

.hero-slider-nav__btn:not(:last-of-type){
    margin-right: 12px;
}

.hero-slider-nav__btn.active {
    background: #000000;
}

.hero-photo {
    position: relative;
    width: 410px;
    flex-shrink: 0;
}

.hero-photo-fly {
    position: absolute;
    z-index: 2;
}

.hero-photo-fly_1 {
    width: 190px;
    height: 318px;
    bottom: -60px;
    left: -130px;
}

.hero-photo-slider .owl-item{
    height: 646px;
}

.hero-photo-slider__slide {
    height: 100%;
}

.hero-photo-slider-img {
    object-fit: cover;
}

.hero-photo-fly_2 {
    width: 197px;
    height: 197px;
    top: 123px;
    right: -105px;
}

.hero-wrapper{
    display: flex;
    justify-content: space-between;
}

/*Product card*/
.h2 {
    line-height: 1.1em;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 92px;
}

.triple-wrapper {
    display: flex;
}

.triple-wrapper__block{
    width: calc(100% / 3);
}

.product-item {
    text-align: center;
}

.triple-wrapper__block:not(:last-of-type){
    margin-right: 30px;
}

.product-item__img {
    height: 478px;
    position: relative;
}

.product-item-img{
    object-fit: cover;
}

.product-item__title {
    margin: 14px 0 7px;
    font-weight: 500;
    font-size: 20px;
}

.product-item__price {
    display: flex;
    justify-content: center;
}

.product-item-price {
    font-size: 15px;
    font-weight: 500;
    color: #998E78;
}

.product-item-price_old {
    color: #9C9C9C;
    margin-right: 10px;
    text-decoration: line-through;
}

.new-collection-btn{
    margin: 65px auto 0;
}

.product-item__img::before{
    content: "";
    top: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    transition: .5s;
    background: url('../img/icons/arrow-right-white.svg') no-repeat center center, linear-gradient(180deg, rgba(110, 156, 159, 0.77) 0%, rgba(110, 156, 159, 0.77) 100%);
    opacity: 0;
    background-size: 31px 22px;
}

.product-item:hover .product-item__img::before{
    transition: .5s;
    opacity: 1;
}

/*Why block*/
.reason__icon {
    width: 61px;
    height: 61px;
}

.reason__h3 {
    margin: 37px 0 24px;
}

.reason__p {
    max-width: 305px;
}

/*Our team*/
.our-team {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-team__slider {
    position: relative;
    width: 62%;
    height: 487px;
}

.team-slider {
    overflow: hidden;
}

.team-slider-img {
    object-fit: cover;
}

.team-slider-dots {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    z-index: 1;
}

.team-slider-dots__dot {
    width: 30px;
    height: 4px;
    background: rgba(255, 255, 255, 0.36);
}

.team-slider-dots__dot:not(:last-of-type){
    margin-right: 12px;
}

.team-slider-dots__dot.active {
    background: #FFFFFF;
}

.team-slider-btn {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    opacity: 0.5;
}

.team-slider-btn:hover{
    opacity: 1;
}

.team-slider-btn_prev {
    width: 28px;
    height: 14px;
    background: url(../img/icons/arrow-left.svg);
    left: -61px;
}

.team-slider-btn_next {
    width: 28px;
    height: 14px;
    background: url(../img/icons/arrow-right.svg);
    right: -61px;
}

.our-team__text {
    max-width: 255px;
}

.our-team-title {
    margin-bottom: 28px;
}

.our-team-description:not(:last-of-type) {
    margin-bottom: 20px;
}

.our-team-link {
    margin-top: 28px;
    display: inline-block;
    color: #6E9C9F;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
}

.our-team-link:hover {
    border-color: #CEDEDF;
}

.team-slider, .owl-stage-outer, .owl-stage, .owl-item, .team-slider__slide{
    height: 100%;
}


/*Footer*/
.footer {
    background: #F1EADC;
    margin-top: 130px;
    padding: 100px 0;
}

.footer-wrapper{
    display: flex;
    justify-content: space-between;
}

.footer-left {
    max-width: 220px;
}

.copyright {
    margin-top: 70px;
    font-size: 13px; 
}

.copyright__right {
    font-weight: 400;
}

.copyright__link {
    display: block;
    margin-top: 6px;
}

.footer-center {
    display: flex;
}

.footer-link-block{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.footer-link-block__li:not(:last-of-type){
    margin-right: 45px;
}

.footer-center .nav__link{
    display: block;
}

.footer-link-sublock{
    padding: 0;
    margin: 39px 0 0 0;
    list-style: none;
}

.footer-link-list {
    display: block;
    font-size: 13px;
}

.footer-link-sublock__li:not(:last-child){
    margin-bottom: 10px;
}

.footer-contants {
    text-align: right;
}

.footer-contants__contact {
    display: block;
}

.footer-contants__contact:not(:last-of-type){
    margin-bottom: 9px;
}

.footer-socials {
    margin: 30px 0;
    display: flex;
    justify-content: flex-end;
}

.footer-socials__social:not(:last-of-type) {
    margin-right: 12px;
}

.footer-payments {
    width: 68px;
    margin-left: auto;
}

.hero-photo-fly__img{
    object-fit: cover;
}

.mobile-btn {
    width: 24px;
    height: 24px;
    display: none;
}

.mobile-close{
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 14px;
}

/*Modal*/
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: none;
}

.modal_active{
    display: block;
}

.modal-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(110, 156, 159, 0.95);
}

.modal-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 70px;
}

.modal-close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 14.5px;
    height: 14.5px;
}

.modal-window {
    display: none;
}

.modal-window_active{
    display: block;
}

.modal-window_callback {
    width: 350px;
}

.modal-title {
    text-align: center;
    margin-bottom: 35px;
}

.universal-input {
    width: 100%;
    font-size: 17px;
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 16px;
    font-weight: 500;
}

.universal-input.error{
    border-color: red;
}

label.error{
    display: none !important;
}

.universal-input:not(:last-of-type){
    margin-bottom: 35px;
}

.universal-input::placeholder{
    color: #868686;
    font-weight: 500;
}

.modal-btn {
    margin-top: 35px;
    width: 100%;
    padding: 0;
    justify-content: center;
}

.modal-btn-success{
    margin: 0 auto;
}

/*Shop*/
.big-padding {
    padding: 190px 0 0;
}

.breadcrumbs {
    margin: 26px 0 0 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs__item {
    font-weight: 500;
    display: inline;
}

.breadcrumbs__item:not(:last-child)::after{
    content: "—";
    margin: 0 0 0 13px;
}

.breadcrumbs__item:not(:last-child){
    margin: 0 13px 0 0;
}

.breadcrumbs__item:last-child {
    color: #909090;
    cursor: not-allowed;
}

.shop-categories {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 214px 0 82px;
}

.shop-categories__category {
    padding: 19px 62px;
    border: 1px solid #000;
    margin-bottom: 10px;
}

.shop-categories__category:not(:last-of-type){
    margin-right: 10px;
}

.shop-categories__category_active {
    background: #000;
    color: #fff;
}

.shop-content__counter {
    color: #808080;
    display: block;
}

.shop-content__items{
    display: flex;
    flex-wrap: wrap;
    margin-top: 65px;
}

.shop-content__items .triple-wrapper__block{
    width: calc(calc(100% - 60px) / 3);
    margin-bottom: 65px;
}

.shop-content__items .triple-wrapper__block:not(:last-of-type){
    margin-right: 0;
}

.shop-content__items .triple-wrapper__block:not(:nth-child(3n)){
    margin-right: 30px;
}

.shop-content__items .triple-wrapper__block:last-of-type{
    margin-right: 0;
}

.page-numbers {
    display: flex;
    margin: 65px 0 0 0;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.page-numbers a, .page-numbers span {
    width: 41px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

.page-numbers.current {
    background: #000;
    color: #fff;
}

.page-numbers li:not(:last-of-type){
    margin-right: 14px;
}

.shop-pagination__next {
    border-color: transparent;
    width: 30px;
}

/*Product page*/
.shop-product {
    margin-top: 102px;
    display: flex;
    align-items: center;
}

.shop-product__photo {
    width: 536px;
    height: 729px;
    margin-right: 74px;
    flex-shrink: 0;
}

.shop-product-photo-img{
    object-fit: cover;
}

.shop-product-info__price {
    display: flex;
    align-items: center;
    margin-bottom: 59px;
}

.shop-product-info-price {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1em;
    color: #998E78;
    margin-right: 29px;
}

.shop-product-info-price_old {
    font-size: 30px;
    color: #9C9C9C;
    text-decoration: line-through;
    line-height: 1.1em;
}

.shop-product-info__option{
    margin-bottom: 59px;
}

.shop-option-title {
    display: block;
    font-size: 20px;
    margin-bottom: 34px;
}

.shop-option-options {
    display: flex;
}

.shop-option__radio {
    display: none;
}

.shop-option__option {
    width: 41px;
    height: 41px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
}

.shop-option:not(:last-of-type){
    margin-right: 14px;
}

.shop-option__radio:checked ~ .shop-option__option {
    background: #000;
    color: #fff;
    transition: .5s;
}

.shop-option__option_color{
    border-color: transparent;
    border-radius: 50%;
}

.shop-option__radio:checked ~ .shop-option__option_color {
    border-color: #000;
}

.shop-product-info__bottom {
    display: flex;
}

.product-quantity {
    width: 67px;
    height: 67px;
    border: 1px solid #AFAFAF;
    display: flex;
    text-align: center;
    font-size: 20px;
    margin-right: 11px;
}

.product-quantity::-webkit-outer-spin-button,
.product-quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-quantity[type=number] {
  -moz-appearance: textfield;
}

.small-padding{
    padding: 110px 0 0;
}

/*About page*/
.about-block {
    display: flex;
    align-items: center;
}

.about-block__img {
    width: 442px;
    height: 547px;
    flex-shrink: 0;
    margin: 0 94px 0 0;
}

.about-block-img {
    object-fit: cover;
}

.about-block:nth-child(2n) .about-block__img {
    margin: 0 0 0 94px;
}

.about-block-p:first-of-type {
    margin-top: 46px;
}

.about-block-p:not(:last-of-type) {
    margin-bottom: 30px;
}

.about-wrapper{
    margin-top: 214px;
}

.about-block:not(:last-of-type) {
    margin-bottom: 130px;
}

.about-btn{
    margin: 130px auto 0;
}

/*Contacts page*/
.contacts-block__map {
    margin-bottom: 130px;
}

.contacts-block__map iframe{
    width: 100%;
    height: 476px;
}

.contacts-block__contacts {
    display: flex;
}

.contact-block:not(:last-of-type) {
    margin-right: 110px;
}

.contact-block__title {
    display: block;
    margin-bottom: 19px;
}

.contact-block__link {
    font-size: 20px;
    display: block;
    font-weight: 300;
}

.contacts-block__feedback {
    margin-top: 130px;
    width: 443px;
}

.feedback-form {
    margin: 62px 0 35px;
}

.feedback-form .universal-input {
    width: 350px;
}

.universal-textarea {
    margin-top: 35px;
    outline: none;
    width: 100%;
    resize: none;
    border: 0;
    border-bottom: 1px solid #000;
    padding: 0 0 16px 0;
    font-size: 17px;
    color: #000;
    font-weight: 500;
    height: 134px;
}

.contacts-block__message {
    margin-top: 62px;
    background: #F1EADC;
    padding: 30px 0;
    text-align: center;
    width: 100%;
    display: none;
}

/*Cart page*/
.cart-row {
    display: flex;
    padding: 50px 0 0;
    align-items: center;
}

.cart-title {
    padding: 0 0 26px;
    font-size: 20px;    
    border-bottom: 1px solid #CCCCCC;
}

.cart-col-1 {
    width: 40%;
    padding-right: 15px;
}

.cart-col-2 {
    width: 15%;
    padding-right: 15px;
}

.cart-col-3 {
    width: 30%;
    padding-right: 15px;
}

.cart-col-4 {
    width: 15%;
}

.cart-col-wrapper{
    display: flex;
    align-items: center;
}

.cart-remove {
    margin-right: 45px;
    flex-shrink: 0;
    width: 12px;
    height: 12px;
}

.cart-item {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.cart-item-img {
    width: 130px;
    height: 179px;
    margin-right: 30px;
    flex-shrink: 0;
}

.cart-item-img__img {
    object-fit: cover;
}

.cart-row:last-of-type{
    padding-bottom: 0;
}

.after-cart {
    margin-top: 77px;
    display: flex;
    justify-content: space-between;
}

.after-cart__wrapper {
    display: flex;
    align-items: flex-end;
}

.after-cart-input {
    width: 255px;
}

.after-cart-btn {
    margin-left: 16px;
    white-space: nowrap;
}

.cart-total {
    margin-top: 88px;
    margin-left: auto;
    width: 538px;
}

.cart-total__title {
    display: block;
    margin-bottom: 28px;
}

.cart-total__wrapper {
    display: flex;
    justify-content: space-between;
}

.cart-total-in-total {
    display: flex;
    align-items: center;
    font-size: 25px;
    background: #F1EADC;
    width: 100%;
    margin-right: 15px;
    padding: 0 31px;
    justify-content: space-between;
}

.cart-submit {
    flex-shrink: 0;
}

.checkout {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.woocommerce-NoticeGroup{
    width: 100%;
}

.checkout-right {
    width: 350px;
}

.checkout-form-block:not(:last-of-type) {
    margin-bottom: 81px;
}

.h3 {}

.checkout-fields {
    margin-top: 47px;
}

.checkout-right .universal-input {
    width: 100%;
}

.checkout-form-block .universal-textarea {
    margin: 0;
}

.checkout-left {
    width: 284px;
}

.total-row {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.total-row_title {
    font-size: 20px;
    padding-top: 0;
}

.total-row__title {}

.total-row__value {
    width: 70px;
    flex-shrink: 0;
}

.total-row_bg {
    background: #F1EADC;
    font-size: 20px;
}

.checkout-padding{
    padding: 0 15px;
}

.checkout-form-block_big:not(:last-of-type){
    margin-bottom: 150px;
}

.checkout-radio:not(:last-of-type) {
    margin-bottom: 10px;
}

.checkout-radio__radio {
    display: none;
}

.checkout-radio__label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkout-label-icon {
    border: 1px solid #000;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    margin-right: 14px;
    position: relative;
}

.checkout-radio__radio:checked ~ .checkout-radio__label .checkout-label-icon::before{
    content: "";
    width: 10px;
    height: 10px;
    background: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.checkout-place-order {
    margin-top: 47px;
    padding: 0;
    width: 100%;
    justify-content: center;
}

/*Dona page*/
.done {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.done-info {
    display: flex;
    align-items: center;
}

.done-info__img {
    width: 72px;
    height: 84px;
}

.done-info__text {
    margin-left: 44px;
}

.done-text {
    margin-top: 17px;
}

.woocommerce-remove-coupon{
    color: red;
}

.entry-footer{
    display: none !important;
}

.woocommerce-notices-wrapper {
    margin-top: 100px;
}




@media (max-width: 1290px){
    .our-team__slider {
        padding: 0 61px;
    }

    .team-slider-btn_prev {
        left: 0;
    }

    .team-slider-btn_next{
        right: 0;
    }
}

@media (max-width: 1200px){
    .container, .woocommerce-notices-wrapper{
        width: 980px;
    }

    .our-team__slider {
        padding: 0;
    }

    .team-slider-btn_prev {
        left: -61px;
    }

    .team-slider-btn_next{
        right: -61px;
    }

    .hero-photo {
        width: 375px;
    }

    .hero-photo-slider .owl-item {
        height: 540px;
    }

    .slider-offer {
        max-width: 500px;
    }

    .h1 {
        font-size: 50px;
    }

    .hero-photo-fly_2 {
        width: 120px;
        height: 120px;
        top: 50px;
        right: -50px;
    }

    .hero-photo-fly_1 {
        width: 150px;
        height: 225px;
        bottom: -60px;
        left: -75px;
    }

    .product-item__img {
        height: 400px;
    }

    .our-team__slider {
        height: 400px;
    }

    .contacts-block__contacts{
        justify-content: space-between;
    }

    .contact-block:not(:last-of-type) {
        margin-right: 0;
    }

}

@media (max-width: 1100px){
    .our-team__slider {
        padding: 0 61px;
    }

    .team-slider-btn_prev {
        left: 0;
    }

    .team-slider-btn_next{
        right: 0;
    }

    .our-team__slider {
        height: 375px;
    }
}

@media (max-width: 992px){
    .container, .woocommerce-notices-wrapper{
        width: 740px;
    }

    .header-panel{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .header-panel .logo{
        order: 1;
    }

    .header-right{
        order: 2;
    }

    .nav{
        order: 3;
        margin-top: 20px;
    }

    .slider-offer {
        max-width: 380px;
    }

    .hero-photo {
        width: 275px;
        filter: blur(5px);
    }

    .h1 {
        font-size: 38px;
    }

    .p-offer {
        width: 100%;
        font-size: 18px;
    }

    .hero-offer__btns {
        padding-left: 0;
    }

    .hero-photo-slider .owl-item {
        height: 425px;
    }

    .hero-photo-fly_2 {
        width: 90px;
        height: 90px;
        top: 45px;
        right: -45px;
    }

    .hero-photo-fly_1 {
        width: 120px;
        height: 175px;
        bottom: -60px;
        left: -60px;
    }

    .section-padding {
        padding-top: 100px;
    }

    .h2 {
        margin-bottom: 60px;
    }

    .product-item__img {
        height: 300px;
    }

    .our-team{
        flex-wrap: wrap;
    }

    .our-team__slider {
        height: 375px;
        width: 100%;
        order: 2;
    }

    .team-slider-dots {
        bottom: 30px;
    }

    .our-team__text {
        max-width: 100%;
        order: 1;
        margin-bottom: 25px;
    }

    .footer-wrapper{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .footer-right {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 50px;
        flex-direction: column-reverse;
    }

    .footer-socials {
        margin: 25px 0;
        justify-content: center;
    }

    .footer-payments {
        margin: 0 auto;
    }

    .shop-product {
        flex-wrap: wrap;
        justify-content: center;
    }

    .shop-product__photo{
        margin: 0 0 100px;
    }

    .shop-product__info-wrapper {
        text-align: center;
    }

    .shop-product-info__price {
        justify-content: center;
    }

    .shop-option-options {
        justify-content: center;
    }

    .about-block__img {
        margin: 0 0 50px;
    }

    .about-block {
        flex-wrap: wrap;
    }

    .about-wrapper {
        margin-top: 190px;
    }

    .about-block:nth-child(2n) .about-block__img {
        margin: 0 0 50px;
        order: 1;
    }

    .about-block:nth-child(2n) .about-block__story {
        order: 2;
    }

    .contacts-block__contacts {
        flex-wrap: wrap;
    }

    .contact-block {
        width: 100%;
    }

    .contact-block:not(:last-of-type){
        margin-bottom: 50px;
        width: 50%;
    }

    .cart{
        overflow: scroll;
    }

    .cart-row{
        width: 1130px;
    }

    .cart::-webkit-scrollbar{
        display: none;
    }

    .after-cart {
        flex-wrap: wrap;
        justify-content: center;
    }

    .after-cart__wrapper {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .cart-total{
        width: 100%;
    }

    .done{
        flex-wrap: wrap;
    }

    .done-info{
        margin-bottom: 50px;
    }

    .footer-center{
        display: none;
    }

    .footer .logo {
        margin: 0 auto;
    }

    .footer-contants {
        text-align: center;
    }

    .header {
        position: relative;
    }

    .header-panel{
        justify-content: space-between;
    }

    .mobile-btn {
        display: block;
    }

    .nav {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
        margin: 0;
        padding: 20px;
        z-index: 5;
        box-shadow: 0px 7px 20px 0 rgb(0 0 0 / 50%);
    }

    .mini-cart{
        margin: 0;
    }

    .nav_mobile, .phone_icon {
        display: none;
    }

    .mobile-close {
        display: block;
    }

    .nav__link:not(:last-of-type) {
        margin: 0 0 15px;
    }

    .nav__link {
        display: block;
        font-size: 20px;
    }

    .after-cart {
        max-width: 450px;
        margin: 50px auto 0;
    }

    .after-cart__wrapper {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .after-cart-input {
        width: 100%;
    }

    .after-cart-btn {
        margin: 25px 0 0 0;
        justify-content: center;
    }

    .about-us-wrapper{
        flex-wrap: wrap;
    }

    .reason{
        width: calc(calc(100% - 30px) / 2);
    }

    .reason:nth-child(2n){
        margin-right: 0;
    }

    .reason:not(:last-of-type){
        margin-bottom: 30px;
    }
}

@media (max-width: 768px){
    .container, .woocommerce-notices-wrapper{
        width: 560px;
    }

    .header-wrapper {
        background: #F1EADC;
    }

    .hero-wrapper {
        position: relative;
        justify-content: flex-end;
        padding-bottom: 100px;
    }

    .hero-offer-wrapper {
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

        .hero-offer__btns {
            justify-content: center;
        }

    .hero {
        padding: 0;
    }

    .hero-photo {
        filter: blur(5px) opacity(0.5) brightness(1.5);
    }

    .hero-offer-scroll {
        background: #fff;
    }

    .slider-offer {
        max-width: 380px;
        width: 380px;
    }

    .hero-slider-nav{
        bottom: -50px;
    }

    .p-offer, .h1 {
        text-align: center;
    }

    .new-collection{
        overflow: hidden;
    }

    .product-item {
        width: 300px;
        flex-shrink: 0;
    }

    .new-collection-wrapper{
        overflow: scroll;
    }

    .new-collection-wrapper::-webkit-scrollbar {
        display: none;
    }

    .product-item__img {
        height: 400px;
    }

    .about-us-wrapper {
        flex-wrap: wrap;
    }

    .reason{
        width: 100%;
    }

    .reason:not(:last-of-type){
        margin: 0 0 50px 0 !important;
    }

    .reason__p {
        max-width: 100%;
    }

    .our-team__slider {
        height: 275px;
    }

    .page-h1{
        text-align: left;
    }

    .big-padding {
        padding: 100px 0 0;
    }

    .shop-categories {
        margin: 100px 0 82px;
    }

    .shop-categories__category {
        padding: 14px 35px;
    }

    .shop-content__items .triple-wrapper__block:not(:last-of-type){
        margin-right: 30px;
    }

    .shop-content__items .triple-wrapper__block:not(:nth-child(3n)){
        margin-right: 30px;
    }

    .shop-content__items .triple-wrapper__block:nth-child(2n){
        margin-right: 0;
    }

    .shop-content__items .triple-wrapper__block{
        width: calc(calc(100% - 30px) / 2);
    }

    .about-wrapper {
        margin-top: 100px;
    }

    .about-block__img {
        width: 100%;
        height: 650px;
    }

    .contacts-block__map iframe{
        height: 300px;
    }

    .checkout-right {
        width: 265px;
        margin-right: 30px;
    }

    .checkout-left {
        width: 265px;
    }

    .contact-block:not(:last-of-type) {
        width: 100%;
    }

    .checkout{
        flex-wrap: wrap;
    }

    .checkout-left{
        margin: 50px 0 0 0;
    }

    .checkout-left, .checkout-right{
        width: 100%;
    }

    .checkout-form-block_big:not(:last-of-type) {
        margin-bottom: 50px;
    }

    .payment-selector{
        padding: 0;
    }

    .done-info{
        flex-wrap: wrap;
        justify-content: center;
    }

    .done-info__text {
        margin: 30px 0 0 0;
        text-align: center;
    }

    .done {
        justify-content: center;
    }

    .checkout-right{
        margin: 0;
    }
}

@media (max-width: 560px){
    .container, .woocommerce-notices-wrapper{
        width: 100%;
    }

    .phone_icon{
        display: none;
    }

    .mini-cart{
        margin: 0;
    }


    .header{
        position: relative;
    }

    .nav {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        background: #fff;
        margin: 0;
        padding: 20px;
        z-index: 5;
        box-shadow: 0px 7px 20px 0 rgb(0 0 0 / 50%);
    }

    .nav__link {
        display: block;
        font-size: 20px;
    }

    .nav__link:not(:last-of-type) {
        margin: 0 0 15px;
    }

    .mobile-close{
        display: block;
    }

    .nav_mobile{
        display: none;
    }

    .slider-offer__slide{
        width: 100%;
    }

    .slider-offer {
        max-width: 300px;
        width: 300px;
    }

    .hero-offer {
        margin: 0 auto;
    }

    .hero-wrapper {
        justify-content: center;
    }

    .hero-offer-wrapper {
        width: 100%;
        overflow: hidden;
        padding: 50px 0;
    }

    .hero-slider-nav {
        bottom: 0;
    }

    .h1 {
        font-size: 32px;
        margin-bottom: 25px;
    }

    .p-offer {
        font-size: 16px;
    }

    .hero-offer__btns {
        margin-top: 35px;
    }

    .h2 {
        margin-bottom: 40px;
        font-size: 28px;
    }

    .our-team__slider {
        padding: 0;
        height: 230px;
    }

    .team-slider-btn{
        display: none;
    }

    .footer-center {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-link-block {
        width: 100%;
        text-align: center;
    }

    .footer-link-block:not(:last-of-type) {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .footer-link-block a:first-of-type {
        display: block;
        margin: 0;
    }

    .h3 {
        font-size: 22px;
    }

    .reason__p {
        font-size: 16px;
    }

    .modal-wrapper {
        width: calc(100% - 30px);
        padding: 40px;
    }

    .modal-window_callback {
        width: 100%;
    }

    .mobile-btn{
        display: block;
    }

    .shop-content__items .triple-wrapper__block{
        width: 100%;
        margin-right: 0 !important;
    }

    .shop-product__photo {
        width: 100%;
        height: 500px;
        margin-bottom: 50px;
    }

    .product-buy {
        padding: 0 15px;
    }

    .about-block__img {
        height: 450px;
    }

    .contacts-block__map iframe {
        height: 200px;
    }

    .contacts-block__map {
        margin-bottom: 100px;
    }

    .contacts-block__feedback {
        margin-top: 100px;
        width: 100%;
    }

    .feedback-form .universal-input {
        width: 100%;
    }

    .contacts-block__message {
        margin-top: 50px;
        padding: 30px;
        text-align: left;
    }

    .after-cart__wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }

    .after-cart-input {
        width: 100%;
        margin-bottom: 25px;
    }

    .after-cart-btn{
        margin: 0;
        width: 100%;
        justify-content: center;
    }

    .cart-total__wrapper{
        flex-wrap: wrap;
    }

    .cart-total-in-total{
        height: 67px;
        margin: 0 0 25px 0;
    }

    .cart-submit{
        width: 100%;
        justify-content: center;
    }

    .after-cart .to-shop-btn{
        width: 100%;
        justify-content: center;
    }

    .footer .nav__link{
        font-size: 15px;
    }

}